/*
* @Author: liyue
* @Date:   2017-12-03 15:48:38
* @Last Modified by:   EWL
* @Last Modified time: 2017-12-03 16:39:30
*/
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;    
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
.content.with-nav{
    float: left;
    width: 950px;
}