/*
* @Author: mmall
* @Date:   2017-05-27 18:04:22
* @Last Modified by:   EWL
* @Last Modified time: 2017-12-12 16:33:24
*/

.cart-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
}
/* header */
.cart-header{
    background: #eee;    
}
.cart-header .cart-cell{
    height: 40px;
    line-height: 40px;
}
/* 页面中所有的cart-table中的分列 */
.cart-table .cell-check{
    width: 6%;
    text-align: left;
    padding-left: 10px;
}
.cart-table .cell-info{
    width: 35%;
    text-align: left;    
}
.cart-header .cell-info{
    width: 45%;
    padding-left: 108px;
}
.cart-table .cell-img{
    width: 10%;
    text-align: left;
}
.cart-table .cell-img .p-img{
    margin: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.cart-table .cell-img .p-img:hover{
    border: 1px solid #c60023;
}
.cart-table .cell-price{
    width: 10%;
    text-align: center;   
}
.cart-table .cell-count{
    width: 15%;
    text-align: center;

}
.cart-table .cell-count .count-input{
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    outline: none;
}
.cart-table .cell-count .count-btn{
    border: 1px solid #ddd;
    display: inline-block;
    width: 20px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
}
.cart-table .cell-total{
    width: 14%;
    text-align: center;
    font-weight: bold;
}
.cart-table .cell-opera{
    width: 10%;
    text-align: center;
}

/* footer部分 */

.cart-footer{
    position: relative;
    line-height: 50px;
    background: #eee;
    overflow: hidden;
    margin-bottom: 20px;  
}
.cart-footer .select-con{
    float: left;
    padding-left: 20px;
}
.cart-footer .select-con .cart-select-all{
    vertical-align: middle;
}
.cart-footer .delete-con{
    float: left;
    margin-left: 20px;
}
.cart-footer .submit-con{
    float: right;
}
.cart-footer .submit-con span{
    vertical-align: middle;  
}
.cart-footer .submit-con .submit-total{
    font-size: 18px;
    color: #c60023;
    margin-right: 30px;
    font-weight: 700;
}
.cart-footer .submit-con .btn-submit{
    height: 53px;
    line-height: 53px;
    margin-right: -1px;
}

/* 错误信息 */
.err-tips{
    height: 60px;
    line-height: 60px;
    color: #f60;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #eee;
}