/**
 * @Author : EWL
 * @Time   : 2017/12/2
 * @Last Modified By : EWL
 */

.page-wrap{    
    padding: 40px 0;
    margin-bottom: 20px;
}
.user-con{
    width: 400px;
    background: #fff;
    position: relative;
    margin: 0 auto;
}
.page-wrap .user-con .user-title{
    text-align: center;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.user-con .user-box{
    padding: 20px;
}
.user-con .user-box .error-item{
    position: relative;
    padding: 2px 0 2px 40px;
    background: #fde9e9;
    color: red;
    border: 1px solid red;
    margin-bottom: 10px;
    display: none;
}
.user-con .user-box .error-item .error-icon{
    position: absolute;
    left: 14px;
    top: 50%;
    font-size: 14px;
    margin-top: -7px;
}
.user-con .user-item{
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.user-con .user-item-text{
    margin-bottom: 10px;
    font-size: 14px;
}
.user-con .step-con{
    display: none;
}
.user-con .user-item .user-label{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    border-right: 1px solid #ccc;
    line-height: 36px;
    background: #f3f3f3;
    text-align: center;
    color: #d3d3d3;
    font-size: 18px;
}
.user-con .user-item .user-content{
    width: 306px;
    height: 18px;
    line-height: 18px;
    padding: 10px 0 10px 50px;
    border:none;
    outline: none;
}
.user-con .user-box .btn-submit{
    display: block;
    width: 100%;
    background: #c60023;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 18px;
    cursor: pointer;
}
.user-con .user-box .link-item{
    margin-top: 10px;
    text-align: right;
}


